src/imgs/GestionEvennement.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://www.gestionEvennement.tn" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GestionEvennement" targetNamespace="https://www.gestionEvennement.tn">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://www.gestionEvennement.tn" elementFormDefault="unqualified" targetNamespace="https://www.gestionEvennement.tn" version="1.0">

  <xs:element name="evennement" type="tns:evennement"/>

  <xs:element name="getInfoEvennement" type="tns:getInfoEvennement"/>

  <xs:element name="getInfoEvennementResponse" type="tns:getInfoEvennementResponse"/>

  <xs:element name="getListeEvennements" type="tns:getListeEvennements"/>

  <xs:element name="getListeEvennementsResponse" type="tns:getListeEvennementsResponse"/>

  <xs:element name="inscrireEvennement" type="tns:inscrireEvennement"/>

  <xs:element name="inscrireEvennementResponse" type="tns:inscrireEvennementResponse"/>

  <xs:complexType name="inscrireEvennement">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:evennement"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="evennement">
    <xs:sequence>
      <xs:element name="capacite" type="xs:int"/>
      <xs:element minOccurs="0" name="date" type="xs:string"/>
      <xs:element minOccurs="0" name="entreprise" type="xs:string"/>
      <xs:element minOccurs="0" name="lieu" type="xs:string"/>
      <xs:element name="menu" type="xs:boolean"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="inscrireEvennementResponse">
    <xs:sequence>
      <xs:element form="qualified" name="numeroConfirmation" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getListeEvennements">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getListeEvennementsResponse">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="listeEvenements" type="tns:evennement"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getInfoEvennement">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getInfoEvennementResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="infoEvenement" type="tns:evennement"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="inscrireEvennement">
    <wsdl:part element="tns:inscrireEvennement" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="inscrireEvennementResponse">
    <wsdl:part element="tns:inscrireEvennementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInfoEvennementResponse">
    <wsdl:part element="tns:getInfoEvennementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListeEvennements">
    <wsdl:part element="tns:getListeEvennements" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListeEvennementsResponse">
    <wsdl:part element="tns:getListeEvennementsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInfoEvennement">
    <wsdl:part element="tns:getInfoEvennement" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GestionEvennement">
    <wsdl:operation name="inscrireEvennement">
      <wsdl:input message="tns:inscrireEvennement" name="inscrireEvennement">
    </wsdl:input>
      <wsdl:output message="tns:inscrireEvennementResponse" name="inscrireEvennementResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListeEvennements">
      <wsdl:input message="tns:getListeEvennements" name="getListeEvennements">
    </wsdl:input>
      <wsdl:output message="tns:getListeEvennementsResponse" name="getListeEvennementsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfoEvennement">
      <wsdl:input message="tns:getInfoEvennement" name="getInfoEvennement">
    </wsdl:input>
      <wsdl:output message="tns:getInfoEvennementResponse" name="getInfoEvennementResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestionEvennementSoapBinding" type="tns:GestionEvennement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="inscrireEvennement">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="inscrireEvennement">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="inscrireEvennementResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListeEvennements">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getListeEvennements">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListeEvennementsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfoEvennement">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getInfoEvennement">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInfoEvennementResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionEvennement">
    <wsdl:port binding="tns:GestionEvennementSoapBinding" name="GestionPort">
      <soap:address location="http://localhost:9383/Examen2020jaxWS-0.0.1-SNAPSHOT/GestionEvennement"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>